<div class="container">
    <div class="bg"></div>

    <section class="search-wrapper">
        <div class="search-content">
            <h3 class="title tc">hello,world!</h3>
            <div class="input-wrapper tc">
                <input class="search-key" type="text" placeholder="eth address"><button class="search-button">search</button>
            </div>
            <div class="search-result tc">
                <div class="search-result-wrapper">
                    search result
                </div>
            </div>
        </div>
    </section>



    <!-- <div class="star-field">
        <div class="layer"></div>
        <div class="layer"></div>
        <div class="layer"></div>
    </div> -->

</div>