<div class="container">
    <div class="bg"></div>

    <section class="search-wrapper">
        <div class="search-content">
            <h3 class="title tc">Results of Token distribution</h3>
            <div class="input-wrapper tc">
                <input class="search-key" type="text"><button class="search-button">search</button>
                <div class="notice-wrapper">
                    <p class="notice">Please enter your ETH addresses to check your balance</p>
                    <p class="tl">1. Public Sale : For users who took part in public sale. Please enter your Ethereum Wallet Address which you have used for sending contribution.</p>
                    <p class="tl">2. Airdrops: For users who took part in Lambda airdrop events. Please enter your Ethereum Wallet Address which you had specified.</p>
                    <p class="tl">If facing any problems please join our Telegram group :
                        <a class="link" href="https://t.me/HelloLambda">https://t.me/HelloLambda</a>
                    </p>
                </div>
            </div>
            <div class="search-result tc">
                <div class="search-result-wrapper">
                </div>
            </div>
        </div>
    </section>



    <div class="star-field">
        <div class="layer"></div>
        <div class="layer"></div>
        <div class="layer"></div>
    </div>

</div>