<div class="container">
    <div class="bg"></div>

    <section class="search-wrapper">
        <div class="search-content">
            <h3 class="title tc">The result of airdrop token distribution</h3>
            <div class="input-wrapper tc">
                <input class="search-key" type="text"><button class="search-button">search</button>
                <p class="notice">Please enter your ETH addresses to check your balance</p>
            </div>
            <div class="search-result tc">
                <div class="search-result-wrapper">
                    <!-- search result -->
                    <!-- Have no data -->

                </div>
            </div>
        </div>
    </section>



    <div class="star-field">
        <div class="layer"></div>
        <div class="layer"></div>
        <div class="layer"></div>
    </div>

</div>