<div class="coin-wrapper">
    <div class="bg"></div>
    <section class="notice">
        <h1 class="title">Your exclusive page to make investment using your LAMBP!</h1>
        <h3 class="title-color mt-20">1ETH=30000LAMB,End time : 12/10/18(14:00UTC)</h3>
        <div class="coin-introduce">
            <h2 class="mt-20">Annoucement</h2>
            <p>*Personal wallet only！Do not use the exchange address to transfer your ETH ！</p>
            <p>*Please do not trust anybody or transfer your ETH personally except the official website or Coinchase</p>
            <p>*During round2,please note that we reward users from bountry.global as 1LAMB=$0.01 and 1 ETH= 30000LAMB</p>

        </div>
    </section>

    <section class="address">
        <div class="eth-address">
            <h1 class="title">Official ETH Address</h1>
            <p id="target">0xf12f3F09010336F3677E8AC4e18a71650e634820</p>
            <button class="btn copy" id="btnCopy" data-clipboard-action="copy" data-clipboard-target="#target">
        Copy to clipboard
      </button>
        </div>
        <div class="sc-address mt-40">
            <h1 class="title">Official Smart Contracts Address</h1>
            <p>0x8971f9fd7196e5cEE2C1032B50F656855af7Dd26</p>
        </div>

    </section>

    <div class="star-field">
        <div class="layer"></div>
        <div class="layer"></div>
        <div class="layer"></div>
    </div>

</div>